.main-banner
	position: relative

	&:before
		content: ''
		display: block
		width: 100%

	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 76.56%)

	&__img
		img
			width: 100%
			display: block
