footer.footer-cont
	.wrapper
		.footer
			.footer__text
				.copy © EST1947, 2019 
				a(href="") Все права защищены. Политика конфиденциальности
				
			.footer__dev
				a(href="").dev
					img(src="img/ico-dev.svg", alt="")